table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* Image for background: https://www.fg-a.com/wallpapers/2017-4-light-background-geo.jpg*/
body{
position: relative;
background-color: #ccffcc;
margin: 50px;
background-image: url("bkg.jpg");

}

h1{
position: relative;
font-size: 50px;
font-style: italic;
text-align: center;

}

output{
color: red;
}
